@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: "Poppins", system-ui, sans-serif;
    margin: 0;
    padding: 0;
}

.container-main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4px;
    background-color: #DC0A2D;
}

.title-row{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 0 0 12px;
}

.title-row h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 8px 0;
    color: #FFF;
}