.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    padding: 24px 12px;
    background-color: #FFF;
}