.pokemon-card{
    position: relative;
    width: 104px;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 1px #00000033;
}
.pokemon-card::after{
    content: "";
    background-color: #EFEFEF;
    height: 44px;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 7px;
    bottom: 0;
}

.pokemon-card img {
    width: 72px;
    height: 72px;
    margin-top: 15px;
}
.pokemon-card span {
    font-size: 8px;
    color: #666666;
    position: absolute;
    top: 3px;
    right: 4px;
    font-weight: 400;
    line-height: 12px;
}
.pokemon-card h3 {
    font-size: 10px;
    margin: 0;
    font-weight: 400;
    line-height: 16px;
    text-transform: capitalize;
}
