.container-search {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.search-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.container-search input {
    all: unset;
    padding: 0 0 0 36px;
    width: 244px;
    height: 32px;
    border-radius: 30px;
    font-family: "Poppins", system-ui, sans-serif;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    font-size: 10px;
    font-weight: 400;
    background-color: #fff;
}