.container-sort{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.button{ 
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-sort {
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    width: 32px;
    height: 32px;
    gap: 8px;
    padding: 8px;
    border-radius: 100%;
}

.container-options-sort {
    position: absolute;
    top: 50px;
    left: -65px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    z-index: 10;
    width: 113px;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #DC0A2D;
}

.container-options-sort p{
    margin: 10px 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #fff;
}

.options-sort {
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    border-radius: 8px;
    width: 105px;
    height: 80px;
    margin: 0 auto;
    justify-content: center;
    background-color: #fff;
}

.options-sort label {
    display: grid;
    grid-template-columns: 18px 1fr;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    cursor: pointer;
    gap: 8px;
    font-weight: 400;
    font-size: 10px;
}

.options-sort input {
    cursor: pointer;
}
.options-sort input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: #DC0A2D;
}