.contain-type-filter{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 12px;
    margin: 0 0 24px 0;
}

.type-button {
    all: unset;
    padding: 2px 8px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    vertical-align: middle;
    background-color: #FFF;
    text-transform: capitalize;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
}